In [1]:
import pandas as pd
from glob import glob

In [11]:
fl = glob("archive/*")
for f in fl:
    df = pd.read_csv(f,index_col=0)
    df = df[~df.id.isin(stl)]
    nf = f.replace("archive","combine")
    df = df[df.Year > 2013]
    df.to_csv(nf)

In [12]:
df = pd.read_csv("combine/achatina_fulica.csv")

In [4]:
stl = ['467990','466950','467110','467350','467300','C0R270','C0S730','467620']

In [15]:
df[df.id == '467990']

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, EI, id, long, lat, Time, Month, Year]
Index: []

In [ ]:
~df['date'].isin(a)